# Name: Activity_Analysis_Plugin-1.0.1
# Author: Noam Cohen (noambox@gmail.com)
# Version: 1.0.1
# Date: 2015/10/8
# Requires: Fiji, ij-blob,

# This plugin takes a tiff file of neuronal activity after dark current removal and
# stimulus artifact preprocessing and returns a JTable wich plots the DF/F traces

Plugins, "Analyze Activity (niel)", sliteanalysis.Activity_Analysis("run")