# Name: Activity_Analysis_Plugin-1.0.0
# Author: Noam Cohen (noambox@gmail.com)
# Version: 1.0.0
# Date: 2015/10/8
# Requires: Fiji, ij-blob,

# This plugin takes a tiff file of neural activity after dark current removal and
# stimulus artifact preprocessing and returns a JTable wich plots the DF/F traces

Plugins>Noam Plugins, "Analyze Activity new wStim (niel)", sliteanalysis.AAP_wStimulus("run")
Plugins>Noam Plugins, "Analyze Activity new woStim (niel)", sliteanalysis.AAP_woStimulus("run")
Plugins>Noam Plugins, "Extract Stimulus (niel)", sliteanalysis.Extract_Stimulus("run")


